<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel="stylesheet" href="/stylesheets/datatables.min.css">

  <link rel="stylesheet" href="/stylesheets/jquery.dataTables.min.css">
  <!-- ^Above Links are untracked^ -->
  
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
 
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<script>
  console.log("sdf");
  $(document).ready(function() {
    var table = $('#example').DataTable();
  });
  $('input#global_filter').change(function () {
      console.log("asdf");
      regExSearch = '^\\s' + this.value +'\\s*$';
      table.search(regExSearch, true, false).draw();      
      console.log("hello");
    });
</script>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <table style="width: 67%; margin: 0 auto 2em auto; font-family: 'Open Sans', sans-serif;" cellspacing="0"
    cellpadding="3" border="0">
    <thead>
      <tr>
        <th>Target</th>
        <th>Search text</th>
        <th>Treat as regex</th>
        <th>Use smart search</th>
      </tr>
    </thead>
    <tbody>
      <tr id="filter_global">
        <td>Global search</td>
        <td align="center"><input type="text" class="global_filter" id="global_filter"></td>
        <td align="center"><input type="checkbox" class="global_filter" id="global_regex checked="checked""></td>
        <td align="center"><input type="checkbox" class="global_filter" id="global_smart"></td>
      </tr>
    </tbody>
  </table>
  <table id="example" style="width: 100%; font-family: 'Open Sans', sans-serif;"
    class="table table-borderless table-bordered table-sm table-striped">
    <thead>
      <tr>
        <th style="width:  8.33%" scope="col">Match #</th>
        <th scope="col" colspan="3" class="table-primary text-center">Blue Alliance</th>
        <th scope="col" colspan="3" class="table-danger text-center">Red Alliance</th>
        <th style="width:  8.33%" scope="col">Time</th>

      </tr>
    </thead>
    <tbody>
      <% for(var i in array) { %>
      <tr>
        <% if ((array[i]["blue1"] == "8") || (array[i]["blue2"] == "8") || (array[i]["blue3"] == "8") || (array[i]["red1"] == "8") || (array[i]["red2"] == "8") || (array[i]["red3"] == "8"))  { %>
        <th scope="row"><%= array[i]["match"] %></th>

        <td style="outline: 0" class="table-primary text-center border-left border-top border-bottom border-dark">
          <b><%= array[i]["blue1"] %></b></td>
        <td style="outline: 0" class="table-primary text-center border-top border-bottom border-dark">
          <b><%= array[i]["blue2"] %></b></td>
        <td style="outline: 0" class="table-primary text-center border-top border-bottom border-dark">
          <b><%= array[i]["blue3"] %></b></td>

        <td style="outline: 0" class="table-danger text-center border-top border-bottom border-dark">
          <b><%= array[i]["red1"] %></b></td>
        <td style="outline: 0" class="table-danger text-center border-top border-bottom border-dark">
          <b><%= array[i]["red2"] %></b></td>
        <td style="outline: 0" class="table-danger text-center border-right border-top border-bottom border-dark">
          <b><%= array[i]["red3"] %></b></td>

        <td><%= array[i]["time"] %></td>
        <% } else{ %>
        <th scope="row"><%= array[i]["match"] %></th>

        <td style="outline: 0" class="table-primary text-center"><%= array[i]["blue1"] %></td>
        <td style="outline: 0" class="table-primary text-center"><%= array[i]["blue2"] %></td>
        <td style="outline: 0" class="table-primary text-center"><%= array[i]["blue3"] %></td>

        <td style="outline: 0" class="table-danger text-center"><%= array[i]["red1"] %></td>
        <td style="outline: 0" class="table-danger text-center"><%= array[i]["red2"] %></td>
        <td style="outline: 0" class="table-danger text-center"><%= array[i]["red3"] %></td>

        <td><%= array[i]["time"] %></td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>  
</body>

</html>