<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <!-- <link rel="stylesheet" href="/stylesheets/datatables.min.css"> -->

  <!-- ^Above Links are untracked^ -->
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/datatables.min.css">
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/jquery.datatables.min.js"></script>
  <script>
    $(document).ready(function(){
      var table = $('#example').DataTable({
        "order": [[0, "asc"]],
        "pageLength": 100,
      });
    });
    </script>
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <table id="example" style="width: 100%; font-family: 'Open Sans', sans-serif;"
    class="table table-borderless table-bordered table-sm table-striped">
    <thead>
      <tr>
        <th style="width:  8.33%" scope="col">Match #</th>
        <th scope="col" class="table-primary text-center"></th>
        <th scope="col" class="table-primary text-center">Blue Alliance</th>
        <th scope="col" class="table-primary text-center"></th>
        <th scope="col" class="table-danger text-center"></th>
        <th scope="col" class="table-danger text-center">Red Alliance</th>
        <th scope="col" class="table-danger text-center"></th>
        <th style="width:  8.33%" scope="col">Time</th>

      </tr>
    </thead>
    <tbody>
      <% for(var i in array) { %>
      <tr>
        <th scope="row"><%= array[i]["match"] %></th>
        <% for(var j in array[i]["blue"]) { %>
          <% if (array[i]["blue"][j] == "8")  { %>
          <td style="outline: 0" class="table-primary text-center border-left border-right border-top border-bottom border-dark">
            <b><%= array[i]["blue"][j] %></b></td>
          <% } else { %>
          <td style="outline: 0" class="table-primary text-center"><%= array[i]["blue"][j] %></td>
          <% } %>
        <% } %>
        <% for(var j in array[i]["red"]) { %>
          <% if (array[i]["red"][j] == "8") { %>
          <td style="outline: 0" class="table-danger text-center border-left border-right border-top border-bottom border-dark">
            <b><%= array[i]["red"][j] %></b></td>
          <% } else { %>
          <td style="outline: 0" class="table-danger text-center"><%= array[i]["red"][j] %></td>
          <% } %>
        <% } %>
        <td><%= array[i]["time"] %></td>
        <% } %>
      </tr>


    </tbody>
  </table>
</body>
<!-- <script>
  console.log("sdf");
  $(document).ready(function() {
    var table = $('#example').DataTable({
      "pageLength": 100,
      "order": [[0, 'asc']]
    });
  });
  $('input#global_filter').change(function () {
      console.log("asdf");
      regExSearch = '^\\s' + this.value +'\\s*$';
      table.search(regExSearch, true, false).draw();      
      console.log("hello");
    });
</script> -->

</html>